.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  .brand{
    color: #a70000;
  }
  .search-input{
    border-radius: 20px;
    border: 1px solid #a70000;;
    padding: 10px;
    margin-right: 10px;
    outline: none;
  }
}